.header--fish {
    padding-left: 3rem;
}

.fish {
    flex-basis: 24%;
    margin: 1rem;
}

.fishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: skyblue;
    text-align: center;
}

.fish__image {
    max-height: 10rem;
}
